.error {
    position: fixed;
    inset: 30% 30% 45% 30%;
    z-index: 1111111111111;
    margin: 0 auto;
    background-color: #292f3f;
    text-align: center;
    border-radius: 1rem;
    padding: 2rem;
    border-radius: 50px;
    background-color: #9df6f8;

}

@media only screen and (max-width: 35em) {
    .error {
        inset: 10% 10% 55% 10%;
    }
}